.startround {
  min-height: 937px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerinfo {
  height: 50px;
  max-height: 50px;
  width: 20%;
  float: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18pt;
  text-align: center;
  color: aliceblue;
}

.dealernickname {
  height: 50px;
  max-height: 50px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18pt;
  color: whitesmoke;
  text-align: center;
}

.dealerarea {
  width: 100%;
  min-height: 190px;
  padding-left: 40%;
}

.gamearea {
  width: 100%;
  height: 400px;
  background-color: rgba(189,189,189, 0.05);
  display: flex;
}

.playerpoints {
  width: 20%;
  background: unset;
  background-color: rgba(238,238,238, 0.02);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18pt;
  color: white;
  float: left;
  display:inline-flex;
}

.nicknames {
  padding-left: 20px;
  padding-top: 24%;
  width: 70%;
  height: 400px;
}

.separator {
  background-color: rgba(0, 0, 0, 0.48);
  width: 10%;
  height: 400px;
}

.points {
  width: 20%;
  padding-top: 24%;
  height: 400px;
}

.gameprocess-block {
  width: 58%;
  height: 400px;
  float: left;
}

.roundstate {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 24pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.gameprocess {
  width: 100%;
  height: 350px;
  text-align: center;
  font-size: 54pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameprocess-animation {
  width: 70%;
  height: 150px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundstate {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 24pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.peopleplayer-block {
  width: 20%;
  height: 400px;
}
.total-cash {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 24pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.action-block {
  width: 80%;
  margin-top: 4px;
  margin-left: 10%;
  margin-right: 10%;
  height: 153px;
  padding-top: 3px;
}

.playerarea {
  width: 100%;
  min-height: 190px;
}

.cards {
  float: left;
  height: 190px;
  display: flex;
  width: 20%;
  max-width: 20%;
}

.cards .card:hover {
  z-index: 10;
}

.card {
  width: 133px;
  height: 186px;
  background-size: cover;
  margin-left: -105px;
  background-color: transparent;
  border-style: none;
}

.winners-area {
  width: 50%;
  height: 400px;
  margin:auto;
}

.winner {
  width: 50%;
  min-height: 100px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: #ddd dashed 2px;
  border-top: #ddd dashed 2px;
  border-left: #ddd dashed 2px;
  border-right: #ddd dashed 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26pt;
  color: aliceblue;
  background-color: rgba(189,189,189, 0.05);
}

.dotted-line-top {
  border-top: #ddd dashed 2px;
  margin-top: 5px;
}

.card:hover {
  z-index: 10;
  background-color: transparent;
}

.card:nth-child(1) {
  z-index: 1;
  margin-left: 0;
}

.card:nth-child(2) {
  z-index: 2;
}

.card:nth-child(3) {
  z-index: 3;
}

.card:nth-child(4) {
  z-index: 4;
}

.card:nth-child(5) {
  z-index: 5;
}

.card:nth-child(6) {
  z-index: 6;
}

.card:nth-child(7) {
  z-index: 7;
}

.card:nth-child(8) {
  z-index: 8;
}
